
body {
    margin: 0;
}
header {
    text-align: center;
    background-color: teal;
}

.paragraph {
    background-color: tomato;
}

img {
    width: 100%;
    height: 600px;
    margin: auto;
    object-fit: contain;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: yellow;
}

.prev, .next {
    background-color: violet;

}
